@model List<Consultas>


<h2>Lista de consultas</h2>
<a class="btn btn-link"  asp-action="Create">Criar uma nova consulta!</a>





<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.First().Id)</th>
            <th>@Html.DisplayNameFor(Model => Model.First().DataHora)</th>
            <th>@Html.DisplayNameFor(Model => Model.First().paciente.Nome)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Consultas consultas in Model) 
        {
            <tr>
               
                <td> @Html.DisplayFor(Model => consultas.Id) </td>
                <td> @Html.DisplayFor(Model => consultas.DataHora) </td>
                <td> @Html.DisplayFor(Model => consultas.paciente.Nome) </td>
                <td>
                    <a asp-action="Read" asp-route-id="@consultas.Id">Visualizar</a> |
                    <a asp-action="Update" asp-route-id="@consultas.Id">Atualizar</a> |
                    <a asp-action="Delete" asp-route-id="@consultas.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

